# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/
.next/

# Misc
.env
.env.local
.env.*.local
